# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import os

# File to Load
school_data_to_load = os.path.join("Resources","schools_complete.csv")
student_data_to_load = os.path.join("Resources","students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_names = school_data["school_name"].unique()
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [3]:
#Count how the total number schools
school_count = len(school_names)
school_count

15

In [4]:
# Calculate the total number of students
student_count = school_data["size"].sum()
student_count

39170

In [5]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [6]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                                "Student Count": [student_count], 
                                "Total Budget": [total_budget], 
                                "Average Math Score": [average_math_score], 
                                "Average Reading Score": [average_reading_score],
                                "Passing Math Percentage":[passing_math_percentage],
                                "Passing Reading Percentage":[passing_reading_percentage],
                                "Overall Passing Rate":[overall_passing_rate]})

# Formatting
district_summary["Student Count"] = district_summary["Student Count"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Passing Math Percentage"] = district_summary["Passing Math Percentage"].map("{:.1%}".format)
district_summary["Passing Reading Percentage"] = district_summary["Passing Reading Percentage"].map("{:.1%}".format)
district_summary["Overall Passing Rate"] = district_summary["Overall Passing Rate"].map("{:.1%}".format)

# Display the DataFrame
district_summary

,Total Schools,Student Count,Total Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,7498.1%,8580.5%,6517.2%

## School Summary

# Use the code provided to select all of the school types
school_types = school_data["type"].unique()
school_types

In [12]:
#Group schools by name
school_name_grouped = school_data_complete.groupby(by="school_name")
school_name_grouped
#Code provided for all school types
school_types = school_data["type"].unique()
school_types
# Calculate the total student count per school
per_school_counts = school_name_grouped["Student ID"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [13]:
# Calculate the total school budget per school
per_school_budget = school_name_grouped["budget"].sum()
per_school_budget
# Calculate per capita spending per school
per_school_capita = per_school_budget / student_count
per_school_capita

school_name
Bailey High School       396978.343835
Cabrera High School       51293.322645
Figueroa High School     141872.045928
Ford High School         123343.526270
Griffin High School       34385.754404
Hernandez High School    357596.699004
Holden High School         2704.445979
Huang High School        142285.481108
Johnson High School      376145.740363
Pena High School          14388.445137
Rodriguez High School    260069.048685
Shelton High School       47502.491703
Thomas High School        43541.423283
Wilson High School        76910.580597
Wright High School        48223.640541
Name: budget, dtype: float64

In [14]:
# Calculate the average test scores per school
per_school_math = school_name_grouped["math_score"]
average_school_math = per_school_math.mean()
average_school_math
per_school_reading = school_name_grouped["reading_score"]
average_school_reading = per_school_math.mean()
average_school_reading

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [15]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
students_passing_math_per_school = students_passing_math.groupby(["school_name"]).size()
students_passing_math_per_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
students_passing_reading_per_school = students_passing_reading.groupby(by="school_name").size()
students_passing_reading_per_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [18]:
# Use the provided code to calculate the passing rates
passing_math_rate= students_passing_math_per_school / per_school_counts *100
passing_math_rate
passing_reading_rate = students_passing_reading_per_school / per_school_counts *100
passing_reading_rate
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts *100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [19]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Name": [school_name_grouped],
                                   "School Type": [school_types],
                                   "Total Students per School": [per_school_counts],
                                   "Total School Budget": [per_school_budget],
                                   "Per Student Budget": [per_school_capita],
                                   "Average Math Score Per School": [average_school_math],
                                   "Average Reading Score Per School": [average_school_reading],
                                   "Passing Math Rate": [passing_math_rate],
                                   "Passing Reading Rate": [passing_reading_rate],
                                   "Overall Passing Rate": [overall_passing_rate]}) 

# Formatting                                  
per_school_summary["School Name"] = district_summary["School Name"].map("{:,}".format)
per_school_summary["School Type"] = district_summary["School Type"].map("{:,}".format)
per_school_summary["Total Students per School"] = district_summary["Total Students per School"].map("{:,}".format)
per_school_summary["Total School Budget"] = district_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = district_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score Per School"] = district_summary["Average Math Score Per School"].map("{:,}".format)
per_school_summary["Average Reading Score Per School"] = district_summary["Average Reading Score Per School"].map("{:,}".format)
per_school_summary["Passing Math Percentage"] = district_summary["Passing Math Percentage"].map("{:.1%}".format)
per_school_summary["Passing Reading Percentage"] = district_summary["Passing Reading Percentage"].map("{:.1%}".format)
per_school_summary["Overall Passing Rate"] = district_summary["Overall Passing Rate"].map("{:.1%}".format)                                
                                   
# Display the DataFrame
per_school_summary

KeyError: 'School Name'

## Highest-Performing Schools (by % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
high_performing = per_school_summary("Overall Passing Rate", asecending = False)
high_performing.head(5)

AttributeError: 'DataFrame' object has no attribute 'sort'

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
low_performing = per_school_summary("Overall Passing Rate", asecending = True)
low_performing.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = school_data_complete[(school_data_complete["grade"] == "9th")].groupby("school_names")["average_school_math"].mean()
tenth_grader_math_scores = school_data_complete[(school_data_complete["grade"] == "10th")].groupby("school_names")["average_school_math"].mean()
eleventh_grader_math_scores = school_data_complete[(school_data_complete["grade"] == "11th")].groupby("school_names")["average_school_math"].mean()
twelfth_grader_math_scores = school_data_complete[(school_data_complete["grade"] == "12th")].groupby("school_names")["average_school_math"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame ({"9th" :ninth_grader_math_scores,
                                      "10th" :tenth_grader_math_scores,
                                      "11th" :eleventh_grader_math_scores,
                                      "12th" :twelfth_grader_math_scores}) 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores = school_data_complete[(school_data_complete["grade"] == "9th")].groupby("school_names")["average_school_reading"].mean()
tenth_grader_reading_scores = school_data_complete[(school_data_complete["grade"] == "10th")].groupby("school_names")["average_school_reading"].mean()
eleventh_grader_reading_scores = school_data_complete[(school_data_complete["grade"] == "11th")].groupby("school_names")["average_school_reading"].mean()
twelfth_grader_reading_scores = school_data_complete[(school_data_complete["grade"] == "12th")].groupby("school_names")["average_school_reading"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame ({"9th" :ninth_grader_reading_scores,
                                      "10th" :tenth_grader_reading_scores,
                                      "11th" :eleventh_grader_reading_scores,
                                      "12th" :twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary